body{
    background: url(../image/christmas-1911637_1920.jpg) , rgba(0,0, 0,.8);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
}
header p{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    color: coral;
    margin: 0;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .clock i {
    padding-right: 15px;
    font-size: 40px;
    color: coral;
 }
.clock #watch{
    font-size: 30px;
    color: white;
}
.container , .content , .clock{
    display: flex;
    justify-content: center;
}
.container .stopWatchWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff7f50;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
}
.content i {
    padding-right: 30px;
    font-size: 50px;
    color: #ff7f50;
}
.cursor_pointer{
    cursor: pointer;
}
/* tootip style */
.tootip {
    position: relative;
    padding: 0.5rem;
    border-radius: 8px;
    max-width: 200px;
  }
  
  .tootip i:hover {
    color: white;
  }
  
  .tootip:hover::before {
    position: absolute;
    content: attr(data-title);
    background-color: #000;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    top: -25px; right: 50%;
    padding: 3px 8px;
    transform: translate(50%,-50%);
    white-space: nowrap;
    overflow-wrap: break-word;
  }
  
  .tootip:hover::after {
    position: absolute;
    content: '\25BC';
    height:1.25rem;
    color: #000;
    top: -12px;
    left: 50%;
    transform: scale(1.8,1) translate(-33%,-50%);
  }